<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Publish" class="btn btn-success">
            </form>
        </div>
    </body>
</html>