<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <div class="container"><br>
                <h1 class="text-center">ARE YOU SURE???</h1>
                <form method="post">{% csrf_token %}
                    <div class="row">
                    <input type="submit" class="btn btn-danger col-md-6" value="Yes">
                    <a href="/" class="btn btn-primary col-md-6">No</a>
                    </div>
                </form>

        </div>
    </body>
</html>