<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Flask App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th></th>
                    </tr>
                    {% for song in songs %}
                    <tr>
                        <th>{{song[0]}}</th>
                        <th>{{song[1]}}</th>
                        <th>
                            {% with author=get_by_id('artist', song[2]) %}
                                <a href="/{{author[0]}}/">{{author[1]}}</a>
                            {% endwith %}
                        </th>
                        <th>
                            {% with genre=get_by_id('genre', song[3]) %}
                                <a href="/genre/{{genre[0]}}/">{{genre[1]}}</a>
                            {% endwith %}
                        </th>
                        <th>
                            <form method="post" action="/remove_song/">
                                <input type="hidden" value="{{song[-1]}}" name="id">
                                <input type="submit" value="DELETE" class="btn btn-danger">
                            </form>
                        </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>